
<header> 
    <div class="container" id="encabezado">
        <div class="row align-items-center justify-content-between">
            <div class="col-xs-12 col-md-offset-2">
                <div class="row ">
                    <div class="col-md-1 col-xs-1">
                      <p id="nombre_negativo">nombre</p>
                    </div>
                        <div class="col-md-8 col-xs-1">
                        </div>
                        <div class="col-md-1 col-xs-1">
                        <a class="redes" href="https://img.search.brave.com/F7GiqFHLCNZbuwZtw29wYwYqBxNC_MEFyS0MNzXWFA4/fit/541/530/ce/1/aHR0cHM6Ly93d3cu/bXVuZG9pbWFnZW5l/cy5tZS9ja2ZpbmRl/ci91c2VyZmlsZXMv/aW1hZ2VzL21lbWUt/ZmFjZWJvb2suanBn" title="face"><img id="facebook" src="https://img.search.brave.com/Ci3xCaH9Au5euFihYBOKXO74t6x8LQOnA7HuCWVrlw4/fit/1200/1200/ce/1/aHR0cHM6Ly9jZG4u/ZnJlZWxvZ292ZWN0/b3JzLm5ldC9zdmcw/NC9mYWNlYm9vay1s/b2dvLW5ldy0yMDE5/LnN2Zw.svg" alt="redes" /></a>
                        </div>
                        <div class="col-xl-1">
                        <button id="registrarse" >registrarse</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

</header>


