       
<article>        
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <button class="crear"><i class="fas fa-tasks"></i></button>
                        <header>
                           <h3>Experiencia</h3>                          
                        </header>
                        <div class="editable">
                            <button class="eliminar"><i class="fas fa-trash-alt"></i>
                                     </button>
                            <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                            <h3 class="titulo">Titulo del puesto</h3>
                            <div class="row">
                                <div class="col-md-1">
                                    <img class= "logo">
                                </div>
                                <div class="col-md-8">
                                    <div class= "texto">
                                     <p class="detalle">Empresa y detalle de jornada</p>
                                     <br>
                                     <p class="detalle2">Años y lugar</p>
                                    </div>   
                                </div>
                            </div>
                            <button class="crear"><i class="fas fa-tasks"></i></button>
                                   
                            
                            <h3>Educación</h3>                            
                            <div class="editable">
                                  <button class="eliminar"><i class="fas fa-trash-alt"></i>
                                  </button>
                                  <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                                 <h3 class="titulo">Instituto terciario</h3>
                                <div class="row">
                                    <div class="col-md-1">
                                      <img class= "logo">
                                    </div>
                                <div class="col-md-8">
                                    <div class="texto">
                                       <p class="detalle">Titulo o especialización,progreso</p>
                                       <br>
                                       <p class="detalle2">Años y lugar</p>                                  
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="editable">
                                     <button class="eliminar"><i class="fas fa-trash-alt"></i>
                                     </button>
                                     <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button> 
                                     <h3 class="titulo">Secundario</h3>
                                <div class="row">
                                    <div class="col-md-1">
                                          <img class= "logo">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="texto">  
                                          <p class="detalle">Titulo o especialización</p>
                                          <br>
                                          <p class="detalle2">Años y lugar</p>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

