      
<article>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-7">
                        <div class ="editar" >
                            <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                        </div>
                        <header>
                            <h3>Acerca de</h3>
                        </header>
                        </div>
                        <div class="texto">
                            <p class="detalle" id="textacercade">Algo acerca de mi.</p>
                           </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>
       
