
<main>
    <div class= "container" id="portada">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                     <div class="card-block">
                        <img class="imagen-fluid"  id="imagen_portada" src="https://img.search.brave.com/5BhKDKOqKGM2zp5RsSpEueyJpXXcU7JvWI7ILdvGXQY/fit/1200/1200/ce/1/aHR0cHM6Ly9kaW1l/bnNpb25lc2NsdWIu/ZXMvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTUvMDcvQVJHRU5U/SU5BLUJBUklMT0NI/RS1WSUFKRVMuanBn" alt="portada" />
                        <img id="imagen_personal" src="https://img.search.brave.com/wAWCE5Ng1k7URPArCwTO1W1TJV4hKV82aRx1alqPy1o/fit/600/600/ce/1/aHR0cHM6Ly9paDEu/cmVkYnViYmxlLm5l/dC9pbWFnZS41NTg3/NDQ0MDguNzIyMy9w/cCw1MDR4NDk4LXBh/ZCw2MDB4NjAwLGY4/ZjhmOC51Mi5qcGc" alt="foto personal" />
                        <button class="editar" id="editar_portada"><i class="fas fa-pencil-alt" id="editar"></i></button>
                        <div class="row">
                            <div class="col-md-9">
                                <h3 id="nombre_apellido">nombre y apellido</h3>
                            <div class="texto">
                               <p class="titprofesional">titulo que se ejerce</p>
                               <p class="lugar">lugar donde se esta actualmente</p>
                            </div>
                            </div>
                            <div class="col-md-1">
                                <p><img id="logo_arg" src="https://img.search.brave.com/z5QnwEOGZDCfYBAExB4YCdRGanCzQvP5Ld6sPk1qNEA/fit/590/431/ce/1/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2E3L2E5/L2FlL2E3YTlhZTRi/MTY1NTMxYzk5MGVh/OWY5YzhlN2JjZjcz/LmpwZw" alt="logo_arg"/></p>
                            </div>
                                <div class="row">
                                <div class="row-cols-md-8">
                                    <div class="botones">
                                       <button id="ventana_emergente">Tengo interés en</button>
                                       <button id="aniadir_seccion">Añadir sección</button>
                                       <button id="mas">Más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </main>


