<article>        
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <button class="crear"><i class="fas fa-tasks"></i></button>
                        <header>
                           <h3>Hard Skills & Soft Skills</h3>                          
                        </header>
                        <div class="editable"></div>
                            <button class="eliminar"><i class="fas fa-trash-alt"></i></button>
                            <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                            <br><br>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class= "progreso">
                                      <p class="texto" id="txt_progreso1">Resolución de problemas</p>
                                    </div>
                                    <br>
                                    <div class="progreso">
                                        <progress class= "progreso" id="progreso1" max="100" value="70"> 70% </progress>                               
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="editable">
                                     <button class="eliminar"><i class="fas fa-trash-alt"></i>
                                     </button>
                                     <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                                     <br><br>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="progreso">
                                       <p class="texto" id="txt_progreso2">Diseño de sistemas</p>
                                    </div> 
                                    <br>
                                    <div class="progreso">
                                       <progress id="progreso2" max="100" value="70"> 70% </progress>
                                    </div>
                                      <br>                           
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>

