
<article>        
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <button class="crear"><i class="fas fa-tasks"></i></button>
                        <header>
                           <h3>Proyectos</h3>                          
                        </header>
                           <div class="editable">
                               <button class="eliminar"><i class="fas fa-trash-alt"></i>
                               </button>
                               <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                               <h3 class="titulo">Nombre del proyecto</h3>
                               <p class="texto">Detalle del proyecto</p>                               
                           </div>
                           <br><br>
                           <div class="editable"> 
                                     <button class="eliminar"><i class="fas fa-trash-alt"></i>
                                     </button>
                                     <button class="editar"><i class="fas fa-pencil-alt" id="editar"></i></button>
                                <h3 class="titulo">Nombre del proyecto</h3>
                                <p class="texto">Detalle del proyecto</p>                                
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
